@config "../../../tailwind.config";
@reference "tailwindcss";
@import "../../global/field.css";

:host {
  display: block;
  width: 100%;
}

.field {
  @apply flex flex-col gap-1;
}

.field__label {
  @apply px-0 cursor-pointer;
}

.field__control {
  @apply mb-0;
}

.field__radio {
  @apply cursor-pointer appearance-none hidden;
}

.field__circle {
  @apply relative h-5 w-5 bg-gray-200 rounded-full;
  @apply flex items-center justify-center;
  @apply cursor-pointer;
}

.field__dot {
  @apply h-2.5 w-2.5 rounded-full hidden bg-white;
}

.field__radio:checked + .field__circle {
  @apply cursor-pointer z-10 border-0;
  background-image: var(--gradient-primary);
}

.field__radio:checked + .field__circle .field__dot {
  @apply block;
}

.field__radio .field__help {
  @apply mt-0;
}

.field--invalid .field__label {
  @apply text-error-500;
}


.field--disabled .field__control,
.field--disabled .field__label {
  @apply opacity-40 cursor-not-allowed;
}